<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('predict_data')}}" method="post">
        <input type="text" name="Temperature" value="Temperature">
        <br>
        <input type="text" name="RH" value="RH">
        <br>
        <input type="text" name="Ws" value="Ws">
        <br>
        <input type="text" name="Rain" value="Rain">
        <br>
        <input type="text" name="FFMC" value="FFMC">
        <br>
        <input type="text" name="DMC" value="DMC">
        <br>
        <input type="text" name="ISI" value="ISI">
        <br>
        <input type="text" name="Classes" value="Classes">
        <br>
        <input type="text" name="Region" value="Region">
        <br>
        <input type="submit">
    </form>
    <h2>
        predicted FWI value is {{results}}
    </h2>
</body>
</html>